.media {
  /* Overrides blog_blog.css */
  display: flex !important;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.media.media_card {
  wdith: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: flex-start;
}

.media-left {
  min-width: 250px;
  flex: 0 0 auto;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.media-left img {
  border: 1px solid #ddd;
}

.media-body {
  flex-grow: 1;
}

.media-heading { 
  margin-top: 0; 
  margin-bottom: 0;
}